<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<targets>
		<target xsi:type="File" name="logfile" fileName="logs/logfile.log"
				archiveFileName="logs/archives/logfile.{#}.log"
				archiveEvery="Month"
				archiveNumbering="Rolling"
				maxArchiveFiles="12"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target xsi:type="WebService" name="remoteUserLog"
				url="https://pecsavi.hu/ProgramLogs/Launcher/log.php"
				protocol="JsonPost">
			<parameter name="machine" layout="${machinename}" />
			<parameter name="timestamp" layout="${longdate}" />
			<!-- Ha kell üzenet is: -->
			<!-- <parameter name="message" layout="${message}" /> -->
		</target>
	</targets>
	<rules>
		<logger name="ProgramLogger" minlevel="Info" writeTo="logfile" />
		<logger name="ActivityLogger" minlevel="Info" writeTo="remoteUserLog" />
	</rules>
</nlog>
